@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/opensans-bold/opensans-bold.woff2') format('woff2'),
    url('../fonts/opensans-bold/opensans-bold.woff') format('woff'),
    url('../fonts/opensans-bold/opensans-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/opensans-extrabold/opensans-extrabold.woff2')
      format('woff2'),
    url('../fonts/opensans-extrabold/opensans-extrabold.woff') format('woff'),
    url('../fonts/opensans-extrabold/opensans-extrabold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/opensans-light/opensans-light.woff2') format('woff2'),
    url('../fonts/opensans-light/opensans-light.woff') format('woff'),
    url('../fonts/opensans-light/opensans-light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/opensans-regular/opensans-regular.woff2') format('woff2'),
    url('../fonts/opensans-regular/opensans-regular.woff') format('woff'),
    url('../fonts/opensans-regular/opensans-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/opensans-semibold/opensans-semibold.woff2') format('woff2'),
    url('../fonts/opensans-semibold/opensans-semibold.woff') format('woff'),
    url('../fonts/opensans-semibold/opensans-semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Teko-Bold';
  src: url('../fonts/teko-bold/teko-bold.woff2') format('woff2'),
    url('../fonts/teko-bold/teko-bold.woff') format('woff'),
    url('../fonts/teko-bold/teko-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Teko-Light';
  src: url('../fonts/teko-light/teko-light.woff2') format('woff2'),
    url('../fonts/teko-light/teko-light.woff') format('woff'),
    url('../fonts/teko-light/teko-light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Teko-Medium';
  src: url('../fonts/teko-medium/teko-medium.woff2') format('woff2'),
    url('../fonts/teko-medium/teko-medium.woff') format('woff'),
    url('../fonts/teko-medium/teko-medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Teko-Regular';
  src: url('../fonts/teko-regular/teko-regular.woff2') format('woff2'),
    url('../fonts/teko-regular/teko-regular.woff') format('woff'),
    url('../fonts/teko-regular/teko-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Teko-SemiBold';
  src: url('../fonts/teko-semibold/teko-semibold.woff2') format('woff2'),
    url('../fonts/teko-semibold/teko-semibold.woff') format('woff'),
    url('../fonts/teko-semibold/teko-semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

html {
  font-size: 16px;
}

/* recommended style for visually hiding content that will be read by a screen reader */
.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
