body {
  --black-color: #000000;
  --dark-color: #272727;
  --light-font-color: #939393;
  --dark-border-color: #a3a3a3;
  --input-border-color: #dddddd;
  --light-border-color: #e2e2e2;
  --light-color: #f3f6f6;
  --white-color: #ffffff;
  --blue-color: #1a18f7;
}
